
  <div class="cards">
    <% @rockets.each do |rocket| %>
      <div class="card-trip">
        <a href="<%=rocket_path(rocket)%>">
          <img class="card-img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= rocket.name %></h2>
              <p><%= rocket.address %></p>
              <p><%= rocket.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= rocket.price %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </a>
      </div>
    <% end %>
  </div>
