<div class="container">
  <div class="info-banner">
    <h1><%= @rocket.name %></h1>
  </div>


  <div class="container-product">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <% if @rocket.photo.attached? %>
        <%= cl_image_tag @rocket.photo.key, class:"card-img"%>
        <% else %>
        <img class="card-img" src="https://images.unsplash.com/photo-1614728263952-84ea256f9679?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1608&q=80">
      <% end %>
    </div>


    <!-- Right Column -->
    <div class="right-column">

      <!-- Product Description -->
      <div class="product-description">
        <h1><%= @rocket.name %></h1>
        <p><%= @rocket.description %></p>
        <p><strong>Location:</strong> <%= @rocket.address %></p>
        <p><strong>Capacity:</strong> <%= @rocket.capacity %></p>
        <h2><%= @rocket.price %>$</h2>
      </div>
      <div class="btn-container">
        <% if policy(@rocket).destroy? %>
          <%= link_to "Explode this rocket", rocket_path(@rocket), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "red-btn" %>
          <% end %>
          <% if policy(@rocket).edit? %>
          <a href="<%=edit_rocket_path(@rocket.id)%>" class="blue-btn">Edit this rocket</a>
        <% end %>
        <a href="<%=new_rocket_reservation_path(@rocket.id)%>" class="green-btn">Book this rocket</a>
      </div>
    </div>
</div>
</div>
