<div class="form-container">
  <%= simple_form_for(rocket) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.input :price %>
    <%= f.input :capacity %>
    <%= f.submit class:"button-60"%>
  <% end %>
</div>
