<div class="container">
  <div class="info-banner">
    <h1><%= @rocket.name %></h1>
  </div>
  <p ><%= @rocket.price %></p>
  <p><%= @rocket.address %></p>
  <p><%= @rocket.description %></p>
  <p><%= @rocket.capacity %></p>

  <% if policy(@rocket).edit? %>
  <div class="simple-btn">
    <%= link_to "Explode this rocket",
        rocket_path(@rocket),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
  </div>

    <%= link_to "Edit this rocket",
      edit_rocket_path(@rocket.id)
    %>
  <% end %>
  <a href="<%=new_rocket_reservation_path(@rocket.id)%>" class="simple-btn">Book this rocket</a>
</div>
