
<div class="booking-cards">
<% @reservations.each do |reservation| %>
  <div class="card-trip">
    <img class="card-img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
            <h2><%= reservation.rocket.name %></h2>
            <%= reservation.start_date%> to <%=reservation.end_date%>
            <%= link_to "Explode this booking",
            reservation_path(reservation),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

            <%= cl_image_tag current_user.photo.key, :gravity=>"faces", :crop=>"thumb", class: "avatar-bordered"%>
        </div>
      </a>
  </div>
  <% end %>
</div>
