
<div class="rocket-cards">
  <% @rockets.each do |rocket| %>
    <div class="card-trip">
      <a href="<%=rocket_path(rocket)%>">
        <% if rocket.photo.attached? %>
          <%= cl_image_tag rocket.photo.key, class:"card-img"%>
          <% else %>
          <img class="card-img" src="https://images.unsplash.com/photo-1614728263952-84ea256f9679?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1608&q=80">
        <% end %>
          <div class="card-trip-infos">
              <h2><%= rocket.name %></h2>
              <p><%= rocket.address %></p>
              <p><%= rocket.description %></p>
              <% if @reservations.empty?  %>
                <%= "No bookings created" %>
              <% else %>
                <% @reservations.each do |reservation| %>
                  <% if reservation.rocket_id == rocket.id %>
                    <h2><%= reservation.start_date%> to <%=reservation.end_date%></h2>
                    <p><% if reservation.status != true  %>
                      <%= link_to "Accept this booking",
                          accept_reservation_path(reservation), data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} %></p>
                      <p><%= link_to "Explode this booking",
                        reservation_path(reservation),
                        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p><br>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
<%= cl_image_tag current_user.photo.key, gravity: :faces, crop: :thumb, class: "card-trip-user avatar-bordered"%>

          </div>

      </a>
    </div>
  <% end %>
</div>
